*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding:  20px 50px;
    align-items: center;
    color: white;
}
#hero-section{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(Assets/imageye___-_imgi_211_nature-landscape-mountains-photo-wallpaper.jpg) no-repeat center/cover;
    height: 100vh;
    background-attachment: fixed;
}
.navbar-left img{
    /* background-color: red; */
    width: 150px;
}
.navbar-right{
    display: flex;
    gap: 20px;
}
.navbar-right ul{
    display: flex;
    gap: 50px;
}
.navbar-right ul li:hover{
    color: #00d26a;
    transition: all 0.5s;
}
.navbar-right ul li{
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    /* background-color: red; */
    padding: 5px;
}
.navbar-right button{
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
.navbar-right button:hover{
    background-color: white;
    color: black;
    transform: rotateX(360deg);
    /* transform: scale(1.1); */
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 80%;
    gap: 20px;
}
.hero-content h4{
    color: white;
    font-size: 25px;
    font-weight: 500;
    /* margin-bottom: 20px; */
}
.hero-content h1{
    color: white;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.hero-content p{
    width: 60%;
    color: white;
    padding: 20px 0;
    font-size: 22px;
    justify-content: center;
}
.hero-content button{
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;

}
.hero-content button:hover{
    color: black;
    background-color: white;
    transform: rotateX(360deg);
}
#second-section{
    margin-top: 70px;
}
.second-content{
    text-align: center;
    padding: 0 100px;
}
.second-content h1{
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
}
.second-content h5{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: green;

}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    /* gap: 20px; */
    padding: 40px;
    margin-top: 50px;
}
.images img{
    width: 400px;
    /* height: 400px; */
    border-radius: 5px;
    cursor: pointer;
}
.images img:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.5s;
}
.images .image1 h3{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.images .image2 h3{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.images .image3 h3{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.image1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images .image1 p{
    font-size: 17px;
    padding: 10px 0;
    /* width: 70%; */
    justify-content: center;
    align-items: center;
    /* width: 300px; */
    width: 80%;
}
.images .image2 p{
    font-size: 17px;
    padding: 10px 0;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.images .image3 p{
    font-size: 17px;
    padding: 10px 0;
    width: 80%;
    justify-content: center;
    align-items: center;
}
#third-section{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Assets/seaaaa.jpeg') no-repeat center/cover;
    height: 80vh;
    background-attachment: fixed;
}
.third-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    text-align: center;
}
.third-content h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
}
.third-content p{
    color: white;
    font-size: 22px;
    width: 70%;
    padding: 20px 0;
}
.third-content h4{
    color: seagreen;
    font-size: 25px;
    font-weight: 500;
}
.fourth-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
}
.left-content{
    width: 30%;
    padding: 0 50px;
    /* display: flex; */
}
.left-content h1{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #00d26a;
}
.left-content p{
    font-size: 18px;
    line-height: 1.3;
    padding-bottom: 20px;
}
.goal{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.right-content{
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.parent1, .parent2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.gif{
    width: 70px;
    cursor: pointer;
}
.goal h3{
    font-size: 40px;
    font-weight: 1000;
    /* text-transform: uppercase; */
    color: #333333;
    
}
.goal1 p{
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
}
#fifth-section{
    margin-top: 70px;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('Assets/leafremove.jpeg') no-repeat center/cover;
    background-attachment: fixed;
}
.fifth-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    /* height: 100%; */
    /* gap: 20px; */
    text-align: center;
}
.fifth-content h1{
    color: white;
    margin-top: 90px;
    font-size: 35px;
    font-weight: 800;
    border-bottom: 2px solid #00d26a;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    padding: 60px;
}
.card1:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.6s;
}
.card2:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.6s;
}
.card3:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.6s;
}
.card-image{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
.card1, .card2, .card3{
    background-color: white;
    /* width: 300px; */
    height: 200px;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    padding: 20px;
    cursor: pointer;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
    transition: transform 0.3s, box-shadow 0.3s;
}
.image-card{
    width: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}.sixth-section{
    height: 100%;
}
.sixth-section h1{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-top: 50px;
    /* border-bottom: 2px solid #00d26a; */
}
.partners{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    /* margin-top: 40px; */
    padding: 20px 60px;
}
.partners img{
    gap: 50px;
    padding: 60px;
    cursor:  pointer;
}
.ready-nature{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 50px 70px;
}
.ready-nature button{
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
.ready-nature button:hover{
    transform: rotateX(360deg);
}
.ready-nature button:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;
}
.navbar-footer{
    display: flex;
    justify-content: space-around;
    /* color: red; */
    /* background-color: red; */
    padding: 20px 50px;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
}
footer{
    background-color: #352d39;
    height: 50vh;

}
.navbar-footer ul{
    display: flex;
    gap: 50px;
}
.navbar-footer ul li{
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    padding: 5px;
}
.navbar-footer ul li:hover{
    color: #00d26a;
    transition: all 0.3s;
}
.footer-icon{
    display: flex;
    gap: 20px;
    align-items: center;
}
.icon1 , .icon2{
    display: flex;
    gap: 10px;
    align-items: center;
}
.social-icons{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.social-icons i{
    padding: 10px;
    border: 1px solid white;
    border-radius: 70%;
}
.social-icons i:hover{
    color: black;
    background-color: #00d26a;
    transition: all 0.3s;
    transform: rotateY(360deg);
}
 .para{
    text-align: center;
    color: white;
    padding: 20px 0;
    font-size: 18px;
    margin-top: 50px;
}